footer {
  background-color: #2b323f;
}

.socials-icons a {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 1px #4799dd;
  color: #333;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 40px;
}

.footer-copywrite p {
  color: #fff;
  padding-top: 20px;
  margin: 0;
}
